.logo {
	color: green;
	font-family: Impact;
	font-size: 2em;

	&__caption {
		margin: 0;
		padding: 0;
	}
	&__link {
		font-size: 1em;
		text-transform: uppercase;
		font-weight: bold;
		text-decoration: none;
		color: green;
	}
	&__big-circle {
		display: inline-block;
		width: 1em;
		height: 1em;
		border: 6px solid green;
		border-radius: 50%;
		line-height: 1em;
		text-align: center;
	}
	&__plus {
		display: inline-block;
		line-height: 1em;
		text-align: center;
		color: red;
		width: 0.9em;
		height: 0.9em;
		border: 2px solid green;
		border-radius: 50%;
		font-weight: bold;
		margin-bottom: 2px;
	}
}